{% extends 'cadre.html' %}

{% block section %}
	<h2 id="haut">{{dico[cat.genre] + " " + dico[cat.niveau]}}</h2>


	<h2 id="haut">Candidats</h2>
		<table>
		
			<tbody>
				{% for candidat in content %}
					<tr>
						<td>

							<form method="post" action= "{{url_for('votes_bp.vote', categorie_id = cat.id)}}">
								<input type="hidden" name="idCandidat"  value="{{candidat['identifiant']}}" >
								<input type="submit" value="Voter" />
							</form>
						</td>
						<td>{{candidat['nom']}}</td>
						<td>{{candidat['prénom']}}</td>
						<td>{{candidat['classe']}}</td>
					</tr>	
				{% endfor %}
			</tbody>
		</table>
		<p><a href="#haut">retour en haut de la page</a></p>

{% endblock %}