{% extends 'cadre.html' %}
 
{% block section %}
    <h2 id="haut">Catégories</h2>
 
    {% for data_cat in data %}
        <h2 id="Gen">Catégorie {{ data_cat.nom }}</h2>
        
            <p>Top 3</p>
            <ol>
                {% if data_cat.top3[1] %}
                <li>
                    {% for place1 in data_cat.top3[1] %}
                    <p>
                        <span class="nomCandidat">{{ place1[1] }} {{ place1[2] }} : </span>
                        <span class="total">{{ place1[3] }} votes</span>
                    </p>
                    {% endfor %}
                </li>
                {%endif%}
                {% if data_cat.top3[2] %}
                <li>
                    {% for place2 in data_cat.top3[2] %}
                    <p>
                        <span class="nomCandidat">{{ place2[1] }} {{ place2[2] }} : </span>
                        <span class="total">{{ place2[3] }} votes</span>
                    </p>
                    {% endfor %}
                </li>
                {%endif%}
                {% if data_cat.top3[3] %}
                <li>
                    {% for place3 in data_cat.top3[3] %}
                    <p>
                        <span class="nomCandidat">{{ place3[1] }} {{ place3[2] }} : </span>
                        <span class="total">{{ place3[3] }} votes</span>
                    </p>
                    {% endfor %}
                </li>
                {%endif%}
                
            </ol>
        {% if data_cat.ouvert %}
            {%if data_cat.aVote %}
                <p>Vous avez voté</p> 
            {%else:%}
                <p>
                    <a href="{{ url_for('votes_bp.vote', categorie_id = data_cat.id) }}" id="bout">Voter</a>
                </p>
            {%endif%}
            
            <a href="#haut">retour en haut de la page</a>
        </h4>
        {% else %}
            <p>Votes Fermés</p>

        
            
            <a href="#haut">retour en haut de la page</a>
        {% endif %}

        {% if admin %}

        <p><a href="{{ url_for('nav_bp.activeCategorie', categorie_id=data_cat.id) }}">Ouvrir/Fermer</a></p>

        {% endif %}

    {% endfor %}
{% endblock %}
 
