{% extends 'cadre.html' %}
 
{% block section %}
    <h2 id="haut">Catégories</h2>
 
    {% for data_cat in data %}
        <h2 id="Gen">{{ data_cat.nom }}</h2>
        {% if data_cat.ouvert %}
            <p>Top 3</p>
            <ol>
                {% for leader in data_cat.top3 %}
                    <li>
                        <span class="nomCandidat">{{ leader[1] }} {{ leader[2] }}</span>
                        <span class="total">{{ leader[3] }}</span>
                    </li>
                {% endfor %}
            </ol>
            {%if data_cat.aVote %}
                <p>Vous avez voté</p> 
            {%else:%}
                <p>
                    <a class="voter" href="{{ url_for('votes_bp.vote', categorie_id = data_cat.id) }}" style:"color:#f0984b">Voter</a>
                </p>
            {%endif%}
            
        </h4>
        {% else %}
            <p>Votes Fermés</p>

        
            <a href="" style:"color:#f0984b">Le vote est fermé</a>
        {% endif %}
    {% endfor %}
    <a href="#haut">retour en haut de la page</a>
{% endblock %}
 
