/***** CSS *******/
/***** CSS *******/

body{
	display:grid;
	box-sizing:border-box ;
	font-family: 'Century Gothic', Calibri, serif;
	font-size: 13px;
	text-align: center;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	color:#f0984b;
}
section{
	grid-template-rows: auto;
	background-color:#341e40;
}
aside{
	grid-template-rows: auto;
}

img {
	box-sizing:border-box ;
	width: 33.33%
}
footer{
	box-sizing:border-box ;
	color: #341e40;
	background-color: #b9204d;
	border-top: 2px solid #AAA;
	grid-template-rows: 100px;
	grid-template-columns: 50% 50%;
	
}
h1{
	background: url(loog.png) no-repeat left top;
	height: 100px;
	width: 100%;
	margin-top:1px;
	color: #fcd22e;
	font-size: 40px;
}


h2{
	background-image:linear-gradient(to right, #341e40,#6c3a4e, #341e40);
	height: 31px;
	width: 100%;
	margin-top:1px;
	color: #fcd22e;
}
#haut{
	font-size: 23px;
	height: 30px;

}

#query{
	position: absolute;
	left: 50%;
}
table,
td {
    border: 1px solid #f0984b;
}

#auth{
	font-size: 13px;
	position: absolute;
	top: 0px;
	left: 67%;
	
}
header{
	background-image:linear-gradient(to right,#ad3e4f, #341e40);
	grid-template-rows: 100px;
}
#inputconnect{
	height: 83px
}
#email{
	margin-top: 3px;
}
#menu{
 	list-style-type:none;
	background-color:#b9204d;
	display:flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
	height:50px;
	margin-left:0px;
	margin-right:0px;
    }
#menu li a{
	display:block;
	text-decoration:none;
	padding:15px;
	width:100%;
}

#menu li a:hover{
	background-color:#f0984b;
	color:white;
	display:flex;
	text-decoration:none;
	padding:15px;
	height:50px;
}
#menu * *{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
	justify-content: space-around;
	height:50px;
    }
	
a:link {
  color: #fcd22e;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff6362;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f8f088;
  background-color: transparent;
  text-decoration: underline;
}
	
html{
	background-color:#000000;
}

.flashes{
	width: auto;
	color: #fc9700;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

ul{
	list-style: none;
}
@media (max-width : 26cm){
	html{
		height : 100%;
	}
	body{
		width : 100%;
		margin : 0%;
		font-size : 140%;
		grid-template-rows : 120px max-content auto 75px;
		height : 100%;
	}
	#haut{
		font-size : 160%;
		height : 45px;
	}
	h1{
		font-size : 65px;
	}
	h2{
		height : 40px;
	}
	#seconnecter{
		grid-row : 1;
	}
	#sinscrire{
		grid-row : 3;
	}
	#auth{
		font-size : 29px;
		display : grid;
		margin-top : 0px;
	}
	input{
		height : 40px;
		width : 50%;
		font-size : 21px;
	}
	#email{
		margin-top : 5px;
	}
	#envoi{
		height : 65px;
		width : 130px;
		font-size : 25px;
		margin : 7px;
	}
	#inputconnect{
		height : 220px;
	}
	header{
		position : fixed;
		width : 100%;
		height : 120px;
	}
	section{
		grid-row : 3;
	}
	footer{
		grid-row : 4;
	}
	button{
		height : 50px;
		width : 75px;
		font-size : 17px;
	}
	#inputinscription{
		height : 58px;
	}
	.position{
		width : 323px;
		height : 60px;
	}
	.liencompte{
		width : 323px;
		height : 60px;
	}
	.flashes{
		grid-row : 2;
		font-size : 26px;
	}
	.voter{
		padding-top : 25px;
		padding-right : 50px;
		padding-left : 50px;
		padding-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
	}
}
@media (orientation : portrait){
	html{
		height : 100%;
	}
	body{
		width :100%;
		margin : 0%;
		font-size : 200%;
		grid-template-rows : 180px max-content auto 105px;
		height : 100%;
	}
	#haut{
		font-size : 160%;
		height : 65px;
	}
	h1{
		font-size : 80px;
	}
	h2{
		height : 59px;
	}
	#seconnecter{
		grid-row : 1;
	}
	#sinscrire{
		grid-row : 3;
	}
	#auth{
		display : grid;
		margin-top : 0px;
		font-size : 31px;
	}
	input{
		height : 70px;
		width : 65%;
		font-size : 35px;
	}
	#email{
		margin-top : 10px;
	}
	#envoi{
		height : 90px;
		width : 180px;
		font-size : 40px;
		margin : 15px;
	}
	#inputconnect{
		height : 346px;
	}
	#inputinscription{
		height: 97px;
	}
	header{
		position: fixed;
		width: 100%;
		height: 180px;
	}
	section{
		grid-row : 3;
	}
	footer{
		grid-row : 4;
	}
	button{
		height: 70px;
		width: 105px;
		font-size: 26px;
	}
	.liencompte{
		width: 322px;
		height: 90px;
		font-size: 35px;
	}
	.flashes{
		grid-row: 2;
		font-size: 35px;
	}
	.voter{
		padding-top : 35px;
		padding-right : 60px;
		padding-left : 60px;
		padding-bottom: 30px;
		font-size: 45px;
		font-weight: bold;
	}
}