<!DOCTYPE html>
<html>
<head>
	<title>Page d'acceuil Bal</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('gen_bp.static', filename='style.css') }}">
	
</head>
<body> 
	<header>
	    <a href="{{ url_for('gen_bp.home') }}">
			<h1 class="linkedImage">Bal 2022</h1>
		</a>
    </header>

	<h3 id="auth">
		<a href="{{ url_for('auth_bp.connexion') }}" style:"color:#f0984b">Se connecter</a></br>
		<a href="{{ url_for('auth_bp.inscription') }}" style:"color:#f0984b">S'inscrire</a>
	</h3>

    <section>
        {% block section %} {% endblock %}
    </section>

	<footer>
		<p> Terminales Spé NSI 2021-2022</p>
	</footer>
</body>
</html> 