<!DOCTYPE html>
<html>
<head>
	<title>Bal du Lycée</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('gen_bp.static', filename='style.css') }}">
	
</head>
<body> 
	<header>
	    <a href="{{ url_for('gen_bp.home') }}">
			<h1 class="linkedImage">Bal 2022</h1>
		</a>
		<h3 id="auth">
			{% if session['id'] %}
			<a href="{{ url_for('auth_bp.deconnexion') }}" class="liencompte">Déconnexion</a>
			{% else %}
			<a href="{{ url_for('auth_bp.connexion') }}" class="liencompte">Se connecter</a>
			<a href="{{ url_for('auth_bp.inscription') }}" class="liencompte">S'inscrire</a>
			{% endif %}
		</h3>
    </header>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

    <section>
        {% block section %} {% endblock %}
    </section>

	<footer>
		<p> Terminales Spé NSI 2021-2022</p>
		<a href="{{ url_for('team_bp.team') }}" style:"color:#f0984b">L'équipe de développement</a>
	</footer>
</body>
</html> 