{% extends 'cadre.html' %}

{% block section %}
	<h2 id="haut">Connexion</h2>
	<p> Explications blablablabalbalblablablabla</br>
		blablablablablablablablablablalbalbalblbalba</br>
	</p>

	<h2 id="inputconnect">
		<form id="form" method="post" action="{{url_for('auth_bp.connexion')}}"> 
			<input type="text" id="email" name="email" placeholder="Entrer votre email..." required>
			<input type="password" id="mdp" name="mdp" placeholder="Mot de passe..." required></br>
			<input type="submit" id="envoi" value="Entrer"></br>
			<a href="http://127.0.0.1:5000{{url_for('auth_bp.motDePasseOublie')}}">Mot de passe oublié ?</a>
		</form>
	</h2>
{% endblock %}