{% extends 'cadre.html' %}

{% block section %}
	<h2 id="haut">Connexion</h2>
	<p> Explications blablablabalbalblablablabla</br>
		blablablablablablablablablablalbalbalblbalba</br>
	</p>

	<h2 id="inputconnect">
		<form id="form" method="post" action="{{url_for('auth_bp.connexion')}}"> 
			<input type="text" id="email" name="email" placeholder="Entrer votre email..." required>
			<input type="password" id="mdp" name="mdp" placeholder="Mot de passe..." required>
			<button type="submit">Entrer</button>
		</form>
	</h2>
{% endblock %}