{% extends 'cadre.html' %}
 
{% block section %}

    <h2>L'équipe de développement</h2>


    <div class="equipe">
        <div class="one">
            <img class= "team-member" src=http://127.0.0.1:5000/gen/static/yan.png alt="Image stylisée du membre de l'équipe">
            <h3>Yan Hourdebaigt--Hiroux</h3>
            <h4>T°1 spé NSI</h4>
            <p>UX Designer</p>

        </div>
        <div class="two">
            <img class= "team-member" src=http://127.0.0.1:5000/gen/static/ilo.png alt="Image stylisée du membre de l'équipe">
            <h3>Ilona Labrouche</h3>
            <h4>T°2 spé NSI</h4>
            <p>Développeuse Back End</p>

        </div>
        <div class="three">
            <img class= "team-member" src=http://127.0.0.1:5000/gen/static/com.png alt="Image stylisée du membre de l'équipe">
            <h3>Côme Mainguy</h3>
            <h4>T°1 spé NSI</h4>
            <p>Product Owner</p>

        </div>
        <div class="four">
            <img class= "team-member" src=http://127.0.0.1:5000/gen/static/arn.png alt="Image stylisée du membre de l'équipe">
            <h3>Arnaud Degos</h3>
            <h4>T°1 spé NSI</h4>
            <p>UI Designer</p>

        </div>
        <div class="five">
            <img class= "team-member" src=http://127.0.0.1:5000/gen/static/lab.png alt="Image stylisée du membre de l'équipe">
            <h3>Nicolas Labat</h3>
            <h4>Professeur de la spé NSI</h4>
            <p>Project Coordinator</p>

        </div>
        <div class="six">
            <img class= "team-member" src=http://127.0.0.1:5000/gen/static/mae.png alt="Image stylisée du membre de l'équipe">
            <h3>Maël Lescoulié</h3>
            <h4>T°1 spé NSI</h4>
            <p>Lead Programmer</p>

        </div>
    </div>
      
    

{% endblock %}
 
